  <%= render "shared/navbar" %>

<br><h1>Voici tout les auteurs :</h1><br>

<%= link_to "--> Ajouter un auteur <--", new_user_path %><br><br>

  <% if @user.save %>
    <div class="alert alert-success" role="alert">
      <p>Auteur créer/modifier avec succés ! :</p>
    </div>
  <% end %>

<% @users.each do |user| %>
  Prénom : <%= user.first_name %><br>
  Nom : <%= user.last_name %><br>
  <%= link_to "Voir l'auteur", user_path(user.id) %><br><br>
<% end %>

<%= link_to "--> Ajouter un auteur <--", new_user_path %><br>