  <%= render "shared/navbar" %>

<br><h1>Voici l'auteur :</h1><br>

<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="btn btn-primary" href="<%= edit_user_path(@user.id)%>">Modifier</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-danger" href="<%= user_path %>" data-confirm="Êtes-vous sûr ?" data-method="DELETE">Supprimer</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h4 class="card-title"><%= @user.first_name %> <%= @user.last_name%></h4>
    <h5 class="card-title">L'auteur a créé <%= @user.gossips.count %> gossips :</h5><br>
    <p class="card-text"><% @gossip.each do |gossip| %>
      <li> <strong> <%= gossip.title %> </strong> : <%= gossip.content %> | <%= link_to "Voir le gossip", gossip_path(gossip) %>  </li>
    <% end %><br></p>
    <h5 class="card-text"><%= @user.city.name %></h5><br>
    <a href="<%= city_path(@user.city.id) %>" class="btn btn-primary">Voir la ville</a>
  </div>
</div>
<br>

<%= link_to "Home", root_path %><br>
