  <%= render "shared/navbar" %>

<div class="jumbotron"><br>
  <h1 class="display-4">Voici l'auteur :</h1>
</div>

<div class="card text-center">
  <div class="card-header">
  <% if User.find_by(id: session[:user_id]) != nil %>
    <% if User.find_by(id: session[:user_id]).id == @user.id%>
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <a class="btn btn-info" href="<%= edit_user_path(@user.id)%>">Modifier</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-danger" href="<%= user_path %>" data-confirm="Êtes-vous sûr ?" data-method="DELETE">Supprimer</a>
        </li>
      </ul>
      <%end%>
    <%end%>
  </div>
  <div class="card-body">
    <h4 class="card-title"><strong><%= @user.first_name %> <%= @user.last_name%></strong></h4>
    <h6 class="card-text"><%= @user.bio %></h6>
    <h6 class="card-text"><%= @user.age %> ans</h6>
    <h6 class="card-text">Profil crée le <%= @user.created_at.strftime("%Y-%m-%d") %></h6><br>
    <h5 class="card-title">L'auteur a créé <%= @user.gossips.count %> gossips :</h5><br>
    <p class="card-text"><% @gossip.each do |gossip| %>
      <li> <strong> <%= gossip.title %> </strong> : <%= gossip.content %> | <%= link_to "Voir le gossip", gossip_path(gossip) %>  </li>
    <% end %><br></p>
    <h5 class="card-text">Made in <%= @user.city.name %></h5><br>
    <a href="<%= city_path(@user.city.id) %>" class="btn btn-primary">Voir la ville</a>
  </div>
</div>
<br>