  <%= render "shared/navbar" %>

<br><h1>Voici tout les gossips :</h1><br>

  <% if @gossip.save %>
    <div class="alert alert-success" role="alert">
      <p>Gossip créer/modifier avec succés ! </p>
    </div>
  <% end %>

<% @gossips.each do |gossip| %>
  Auteur : <%= gossip.user.first_name %> | <%= link_to "Voir l'user", user_path(gossip.user.id) %><br>
  Titre : <%= gossip.title %> | <%= link_to "Voir le gossip", gossip_path(gossip.id) %><br>
  Contenu :<%= gossip.content %><br><br>
<% end %>

<%= link_to "--> Ajouter un gossip <--", new_gossip_path %><br>
