  <%= render "shared/navbar" %>

<div class="jumbotron"><br>
  <h1 class="display-4">Voici le gossip :</h1>
</div>

<div class="card text-center">
  <div class="card-header">
  <% if User.find_by(id: session[:user_id]) != nil %>
    <% if User.find_by(id: session[:user_id]).id == @gossip.user.id%>
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <a class="btn btn-primary" href="<%= edit_gossip_path(@gossip.id)%>">Modifier</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-danger" href="<%= gossip_path %>" data-confirm="Êtes-vous sûr ?" data-method="DELETE">Supprimer</a>
        </li>
      </ul>
      <%end%>
    <%end%>
    <%= @gossip.updated_at.strftime("%Y-%m-%d %H:%M") %>
  </div>
  <div class="card-body">
    <h4 class="card-title"><strong><%= @gossip.user.first_name %> <%= @gossip.user.last_name%></strong></h4>
    <h5 class="card-title"><strong><%= @gossip.title %></strong> :</h5>
    <p class="card-text"><%= @gossip.content %></p>
    <h6 class="card-text">Made in <%= @gossip.user.city.name %></h6><br>
    <a href="<%= user_path(@gossip.user.id) %>" class="btn btn-primary">Voir l'auteur</a>
  </div>
</div>
<br>