<html>

  <%= render "shared/navbar" %>

  <body>

    <div class="jumbotron"><br>
      <h1 class="display-4">Bienvenue sur The Gossip Project</h1>
      <p class="lead">Rien de mieux que des gossips pour bien commencer la journée !</p>
    </div>

    <% if User.find_by(id: session[:user_id]) != nil %> 
      <%= flash[:success] %>
      <h2>Bienvenue <%= User.find_by(id: session[:user_id]).first_name %> !</h2>
    <%else%>
      <div class="alert alert-danger" role="alert"><br>
        <p>Vous n'êtes pas connecter !<br>
        <a class="btn btn-primary" href="<%= new_session_path %>">Se connecter</a> | <a class="btn btn-primary" href="<%= new_user_path %>">S'inscrire</a><br><br>
      </div>
    <% end %>


    
    <%= link_to "Gossips", gossips_path %> | 
    <%= link_to "New Gossip", new_gossip_path %> | 
    <%= link_to "Users", users_path %> | 
    <%= link_to "City", cities_path %>
    <br><br>

    <div class="card-columns">
    <% @gossips.each do |gossip| %>
      <div class="card">
          <div class="card-body">
            <h4 class="card-title"> <strong><%= gossip.title %></strong> :</h4>
            <p class="card-text"> <%= gossip.content %> </p>
            <footer class="blockquote-footer">
              <small class="text-muted">
                <strong><%= gossip.user.first_name %></strong> <cite title="Détails du gossip"><%= link_to "voir détails", gossip_path(gossip.id) %></cite>
              </small>
            </footer>
          </div>
      </div>
    <% end %>

  </body>

</html>