  <%= render "shared/navbar" %>

<br><h1>Voici la Ville :</h1><br>

<div class="card text-center">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h4 class="card-title"><%= @city.name %></h4>
    <h5 class="card-title"> La ville a <%= @city.user.count %> auteurs :</h5><br>
    <p class="card-text"><% @user.each do |user| %>
      <li> <strong> <%= user.first_name %> </strong> <%= user.last_name %> | <%= link_to "Voir l'auteur", user_path(user) %>  </li>
    <% end %><br></p>
    <h5 class="card-title"> La ville a <%= @city.gossip.count %> gossips :</h5><br>
    <p class="card-text"><% @gossip.each do |gossip| %>
      <li> <strong> <%= gossip.title %> </strong> : <%= gossip.content %> | <%= link_to "Voir le gossip", gossip_path(gossip) %>  </li>
    <% end %><br></p>
  </div>
</div>
<br>
<%= link_to "Home", root_path %><br>
