  <%= render "shared/navbar" %>

<br><h1>Voici la Ville :</h1><br>

<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h4 class="card-title"><%= @city.name %></h4>
    <h5 class="card-title"> La ville a <%= @city.user.count %> auteurs :</h5><br>
    <p class="card-text"><% @user.each do |user| %>
      <li> <strong> <%= user.first_name %> </strong> <%= user.last_name %> | <%= link_to "Voir l'auteur", user_path(user) %>  </li>
    <% end %><br></p>
    <h5 class="card-title"> La ville a <%= @city.gossip.count %> gossips :</h5><br>
    <p class="card-text"><% @gossip.each do |gossip| %>
      <li> <strong> <%= gossip.title %> </strong> : <%= gossip.content %> | <%= link_to "Voir le gossip", gossip_path(gossip) %>  </li>
    <% end %><br></p>
  </div>
</div>

<%= link_to "Home", root_path %><br>
